.navbar {
  height: 40px;
  background-color: #164489;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu a {
  color: white;
  text-decoration:underline;
  margin: 0 12px;
  font-weight: 500;
}

.menu a:hover {
  color: cyan;
}
