.projects {
  padding: 30px 20px;
  background-color: #0a192f;
  color: white;
  text-align: center;
}

.projects h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: cyan;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.project-card {
  background-color: #112240;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid cyan;
  transition: 0.3s ease;
  text-align: left;
}

.project-card h3 {
  margin-bottom: 10px;
  color: cyan;
}

.project-card p {
  font-size: 16px;
  margin-bottom: 15px;
}

.project-card a {
  text-decoration: none;
  color: black;
  background-color: cyan;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: bold;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 0px 12px cyan;
}

.section-title {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 26px;
  color: cyan;
  text-align: left;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.project-card h4 {
  margin-bottom: 10px;
  color: cyan;
}
